manifestSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.rocketsurgyer.guthub.com" xmlns="http://www.rocketsurgyer.guthub.com"
	elementFormDefault="qualified">

	<xs:element name="manifest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="source" maxOccurs="unbounded" minOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="source">
		<xs:complexType>
			<xs:attribute name="src" type="xs:anyURI"></xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema> 